@font-face {
  font-family: playfair;
  src: url(../fonts/PlayfairDisplay-Regular.ttf); }

@font-face {
  font-family: opensans;
  src: url(../fonts/OpenSans-Regular.ttf); }

body {
  font-family: opensans; }

section {
  padding: 1%; }
  section > * {
    margin-bottom: 50px; }

nav {
  height: 60px; }
  nav .topnav {
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: space-between; }
    nav .topnav a {
      float: left;
      display: block;
      color: #000000;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px; }
      nav .topnav a:hover {
        background-color: #ddd;
        color: #000000; }
      nav .topnav a.active {
        text-decoration: underline; }
    nav .topnav .icon {
      display: none; }
    nav .topnav .topnav-cart-icon {
      display: flex; }
      nav .topnav .topnav-cart-icon .cart-icon-count {
        background-color: #000000;
        border-radius: 50%;
        color: #fff;
        padding: 8% 15%;
        font-size: 12px;
        height: 18px;
        margin-left: 5px; }

.add-to-cart-button {
  color: #fff;
  background-color: #000000;
  min-width: 61%;
  border-radius: 0;
  height: 53px;
  outline: none;
  border: 1px solid #000000;
  text-align: center;
  text-decoration: none; }
  .add-to-cart-button:hover {
    color: white;
    background-color: #121212;
    text-decoration: none;
    outline: none;
    border-color: #0d0d0d; }
  .add-to-cart-button:active, .add-to-cart-button:focus {
    color: white;
    background-color: #0d0d0d;
    text-decoration: none;
    outline: 1px dashed #000;
    outline-offset: 3px;
    border-color: #000; }

.solitude-and-silence-wrapper {
  display: flex; }
  .solitude-and-silence-wrapper .solitude-and-silence-image {
    width: 60%; }
    .solitude-and-silence-wrapper .solitude-and-silence-image > img {
      width: 100%; }
  .solitude-and-silence-wrapper .solitude-and-silence-details {
    padding: 2% 5%;
    width: 40%; }
    .solitude-and-silence-wrapper .solitude-and-silence-details > * {
      padding-bottom: 2%; }
    .solitude-and-silence-wrapper .solitude-and-silence-details form {
      margin-top: 7%; }
      .solitude-and-silence-wrapper .solitude-and-silence-details form > * {
        margin-bottom: 5%; }
      .solitude-and-silence-wrapper .solitude-and-silence-details form .select-size {
        height: 60px;
        width: 60%;
        border-radius: 0;
        padding: 0 3%;
        margin-top: 7px; }
    .solitude-and-silence-wrapper .solitude-and-silence-details .solitude-and-silence-title {
      font-family: playfair;
      font-weight: 300;
      font-size: 1.75em; }
    .solitude-and-silence-wrapper .solitude-and-silence-details .solitude-and-silence-text > b {
      padding-right: 10px; }
    .solitude-and-silence-wrapper .solitude-and-silence-details .solitude-select-wrapper .solitude-select-label {
      margin-bottom: 10px;
      display: inline-block; }
    .solitude-and-silence-wrapper .solitude-and-silence-details .solitude-select-wrapper input[type="radio"] {
      display: none; }
    .solitude-and-silence-wrapper .solitude-and-silence-details .solitude-select-wrapper [type="radio"]:checked,
    .solitude-and-silence-wrapper .solitude-and-silence-details .solitude-select-wrapper [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px; }
    .solitude-and-silence-wrapper .solitude-and-silence-details .solitude-select-wrapper [type="radio"]:checked + label,
    .solitude-and-silence-wrapper .solitude-and-silence-details .solitude-select-wrapper [type="radio"]:not(:checked) + label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666; }
    .solitude-and-silence-wrapper .solitude-and-silence-details .solitude-select-wrapper [type="radio"]:checked + label:before,
    .solitude-and-silence-wrapper .solitude-and-silence-details .solitude-select-wrapper [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff; }
    .solitude-and-silence-wrapper .solitude-and-silence-details .solitude-select-wrapper [type="radio"]:checked + label:after,
    .solitude-and-silence-wrapper .solitude-and-silence-details .solitude-select-wrapper [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: #000000;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .solitude-and-silence-wrapper .solitude-and-silence-details .solitude-select-wrapper [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0); }
    .solitude-and-silence-wrapper .solitude-and-silence-details .solitude-select-wrapper [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); }
    .solitude-and-silence-wrapper .solitude-and-silence-details .read-more-link {
      color: #000000;
      font-weight: 600;
      text-decoration: none;
      border-bottom: 1px solid black;
      padding-bottom: 0px; }

.featured-wrapper {
  display: flex; }
  .featured-wrapper .featured-one-text {
    width: 35%; }
    .featured-wrapper .featured-one-text > * {
      margin: 0 auto;
      width: 80%; }
    .featured-wrapper .featured-one-text .fetaured-one-title {
      font-family: playfair;
      font-weight: 300;
      padding-bottom: 20px; }
    .featured-wrapper .featured-one-text .feature-one-para {
      font-family: opensans; }
  .featured-wrapper .feature-text {
    padding-left: 100px; }
  .featured-wrapper .featured-one-image {
    width: 65%; }
    .featured-wrapper .featured-one-image > img {
      width: 100%;
      height: auto; }

.painting-image, .painting-image > img {
  width: 100%; }

.related-art-title {
  text-align: center;
  text-align: center;
  font-family: playfair; }

.painting-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 80px 40px; }
  .painting-wrapper .related-art-wrapper {
    width: 30%; }
    .painting-wrapper .related-art-wrapper .art-img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center; }
      .painting-wrapper .related-art-wrapper .art-img-wrapper > img {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        padding: 10%;
        background: #f5f5f5;
        box-sizing: border-box; }
    .painting-wrapper .related-art-wrapper .related-art-details {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .painting-wrapper .related-art-wrapper .related-art-details .related-art-subtitle {
        font-family: playfair; }
      .painting-wrapper .related-art-wrapper .related-art-details .related-art-text {
        width: 65%;
        text-align: center; }

hr {
  width: 85%;
  border: 1px solid #f2f2f2; }

.footer-section-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 80px 80px 100px;
  font-family: playfair; }
  .footer-section-wrapper .footer-wrapper {
    width: 30%;
    text-align: center; }
    .footer-section-wrapper .footer-wrapper.contact-footer-wrapper, .footer-section-wrapper .footer-wrapper.subscribe-footer-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .footer-section-wrapper .footer-wrapper > h2 {
      font-weight: 400; }
    .footer-section-wrapper .footer-wrapper .followme-footer-title {
      margin-bottom: 1.5em; }
    .footer-section-wrapper .footer-wrapper .followme-footer-text {
      padding: 0 3%; }
    .footer-section-wrapper .footer-wrapper .footer-text {
      width: 80%;
      font-family: opensans; }
    .footer-section-wrapper .footer-wrapper .subscribe-footer-email {
      width: 100%;
      position: relative;
      padding-left: 5%; }
      .footer-section-wrapper .footer-wrapper .subscribe-footer-email input {
        border: none;
        width: 100%;
        height: 50px;
        box-shadow: 0 8px 4px -8px #000000;
        padding-left: 12px; }
        .footer-section-wrapper .footer-wrapper .subscribe-footer-email input:active, .footer-section-wrapper .footer-wrapper .subscribe-footer-email input:focus {
          outline: none; }
      .footer-section-wrapper .footer-wrapper .subscribe-footer-email .subscribe-footer-arrow {
        width: 30px;
        height: 27px;
        background-image: url(../assets/arrow.png);
        background-size: contain;
        background-position: center;
        display: inline-block;
        background-repeat: no-repeat;
        position: absolute;
        right: 15px;
        top: 13px; }

.copyright-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 40px 100px;
  opacity: 0.5; }

@media (max-width: 991px) {
  .solitude-and-silence-wrapper, .featured-wrapper, .painting-wrapper,
  .footer-section-wrapper, .copyright-wrapper {
    flex-wrap: wrap; }
    .solitude-and-silence-wrapper .solitude-and-silence-image,
    .solitude-and-silence-wrapper .solitude-and-silence-image > img, .solitude-and-silence-wrapper .featured-one-text,
    .solitude-and-silence-wrapper .fetaured-one-title, .solitude-and-silence-wrapper .solitude-and-silence-details,
    .solitude-and-silence-wrapper .featured-one-image,
    .solitude-and-silence-wrapper .related-art-wrapper, .solitude-and-silence-wrapper .related-art-wrapper > .related-art-details, .solitude-and-silence-wrapper .related-art-wrapper > .art-img-wrapper, .featured-wrapper .solitude-and-silence-image,
    .featured-wrapper .solitude-and-silence-image > img, .featured-wrapper .featured-one-text,
    .featured-wrapper .fetaured-one-title, .featured-wrapper .solitude-and-silence-details,
    .featured-wrapper .featured-one-image,
    .featured-wrapper .related-art-wrapper, .featured-wrapper .related-art-wrapper > .related-art-details, .featured-wrapper .related-art-wrapper > .art-img-wrapper, .painting-wrapper .solitude-and-silence-image,
    .painting-wrapper .solitude-and-silence-image > img, .painting-wrapper .featured-one-text,
    .painting-wrapper .fetaured-one-title, .painting-wrapper .solitude-and-silence-details,
    .painting-wrapper .featured-one-image,
    .painting-wrapper .related-art-wrapper, .painting-wrapper .related-art-wrapper > .related-art-details, .painting-wrapper .related-art-wrapper > .art-img-wrapper,
    .footer-section-wrapper .solitude-and-silence-image,
    .footer-section-wrapper .solitude-and-silence-image > img,
    .footer-section-wrapper .featured-one-text,
    .footer-section-wrapper .fetaured-one-title,
    .footer-section-wrapper .solitude-and-silence-details,
    .footer-section-wrapper .featured-one-image,
    .footer-section-wrapper .related-art-wrapper,
    .footer-section-wrapper .related-art-wrapper > .related-art-details,
    .footer-section-wrapper .related-art-wrapper > .art-img-wrapper, .copyright-wrapper .solitude-and-silence-image,
    .copyright-wrapper .solitude-and-silence-image > img, .copyright-wrapper .featured-one-text,
    .copyright-wrapper .fetaured-one-title, .copyright-wrapper .solitude-and-silence-details,
    .copyright-wrapper .featured-one-image,
    .copyright-wrapper .related-art-wrapper, .copyright-wrapper .related-art-wrapper > .related-art-details, .copyright-wrapper .related-art-wrapper > .art-img-wrapper {
      width: 100%; }
  .solitude-and-silence-wrapper {
    width: 100%; }
  .featured-wrapper .feature-text {
    padding-left: 0; }
  .featured-one-text .feature-one-para {
    margin: 0; } }

@media (max-width: 768px) {
  .footer-section-wrapper .footer-wrapper {
    width: 100%;
    margin-bottom: 50px; }
  .copyright-wrapper {
    width: 100%;
    margin: 50px 0; } }

@media (max-width: 434px) {
  .topnav .topnav-logo-icon {
    display: none; }
  .topnav .topnav-items > a {
    padding: 14px 8px; } }
